.footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include padding-sides;
    background-color: var(--cinzafundo);

    position: relative;
    z-index: 2;

    &__line {

        width: 100%;
        background-color: var(--azulcefet);
        height: 1px;
        margin-bottom: 4rem;
    }

    &__logo {
        margin-bottom: 2rem;
    }
    
    &__creditos {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        text-align: center;
    }
}